

$colorPrimary: green;
$colorSecondary : blue;
$colorTertiary: red;

@function converterRem ($remValue) {
    $remValue : (value / 16) + rem;
    @return $remValue
}  


div {
    justify-content: center;
    text-align: center;
    border: solid 1px darken($color: $colorTertiary, $amount: 20%);
    padding: 8px;
}

section{
    display: flex;
    padding: 8px;
}

.section-01 {
    @extend section ;
    padding-top: 30px;
}

article {
    border: solid 1px $colorPrimary;
    font-family: "Mincho";
    font-size: converterRem(16px);
}

h1 {
    color: darken($color: $colorPrimary, $amount: 7%);
    text-decoration: underline px $colorSecondary;
    text-underline-offset: 7px;
    padding-bottom: 15px;
} 

h2 {
    @extend h1 ; 
    padding: 1rem;
    border: solid 1px darken($color: $colorTertiary, $amount: 15%);
    text-decoration: none;
    justify-content: center;
    display: inline;
}

.last-article {
    border: solid 1px darken($color: $colorSecondary, $amount: 20%);
    padding: 8px;
    font-size: 22px;
    width: 100%;
}

.last-paragraph {
    color: darken($color: $colorPrimary, $amount: 7%);
}

.blue-paragraph {
    color: darken($color: $colorSecondary, $amount: 15%);
}

.red-paragraph {
    color: darken($color: $colorTertiary, $amount: 15%);
}
